{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="site-main" id="content">
    <!-- Home slider html start -->
    <section class="home-slider-section">
        <div class="home-slider">
            <div class="home-banner-items">
                <div class="banner-inner-wrap"
                     style="background-image: url(static/assets/images/slider-banner-1.jpg);"></div>
                <div class="banner-content-wrap">
                    <div class="container">
                        <div class="banner-content text-center">
                            <h2 class="banner-title">TRAVELLING AROUND THE WORLD</h2>
                            <p></p>
                            <a class="button-primary" href="about">CONTINUE READING</a>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="home-banner-items">
                <div class="banner-inner-wrap"
                     style="background-image: url(static/assets/images/slider-banner-2.jpg);"></div>
                <div class="banner-content-wrap">
                    <div class="container">
                        <div class="banner-content text-center">
                            <h2 class="banner-title">EXPERIENCE THE NATURE'S BEAUTY</h2>
                            <p></p>
                            <a class="button-primary" href="about">CONTINUE READING</a>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </section>
    <!-- slider html start -->
    <!-- Home search field html start -->
<!--    <div class="trip-search-section shape-search-section">-->
<!--        <div class="slider-shape inner-shape"-->
<!--             style="background-image: url('http://127.0.0.1:8000/static/assets/images/slider-pattern.png');"></div>-->
<!--        <div class="container">-->
<!--            <div class="trip-search-inner white-bg d-flex">-->
<!--                <div class="input-group">-->
<!--                    <label> Search Destination* </label>-->
<!--                    <input name="s" placeholder="Enter Destination" type="text">-->
<!--                </div>-->
<!--                <div class="input-group">-->
<!--                    <label> Pax Number* </label>-->
<!--                    <input name="s" placeholder="No.of People" type="text">-->
<!--                </div>-->
<!--                <div class="input-group width-col-3">-->
<!--                    <label> Checkin Date* </label>-->
<!--                    <i class="far fa-calendar"></i>-->
<!--                    <input autocomplete="off" class="input-date-picker" name="s" placeholder="MM / DD / YY" readonly="readonly"-->
<!--                           type="text">-->
<!--                </div>-->
<!--                <div class="input-group width-col-3">-->
<!--                    <label> Checkout Date* </label>-->
<!--                    <i class="far fa-calendar"></i>-->
<!--                    <input autocomplete="off" class="input-date-picker" name="s" placeholder="MM / DD / YY" readonly="readonly"-->
<!--                           type="text">-->
<!--                </div>-->
<!--                <div class="input-group width-col-3">-->
<!--                    <label class="screen-reader-text"> Search </label>-->
<!--                    <input name="travel-search" type="submit" value="INQUIRE NOW">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Home packages section html start -->
    <!-- packages html end -->
    <!-- Home callback section html start -->
    <section class="callback-section">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-5">
                    <div class="callback-img" style="background-image: url(static/assets/images/img8.jpg);">
                        <div class="video-button">
                            <a data-video-id="IUN664s7N-c" id="video-container">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="callback-inner">
                        <div class="section-heading section-heading-white">
                            <h5 class="dash-style">CALLBACK FOR MORE</h5>
                            <h2>GO TRAVEL. DISCOVER. REMEMBER US!!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo. Eaque adipiscing, luctus eleifend.</p>
                        </div>
                        <div class="callback-counter-wrap">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <img alt="" src="static/assets/images/icon1.png">
                                </div>
                                <div class="counter-content">
                                    <span class="counter-no">
                                       <span class="counter">500</span>K+
                                    </span>
                                    <span class="counter-text">
                                       Satisfied Clients
                                    </span>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <img alt="" src="static/assets/images/icon2.png">
                                </div>
                                <div class="counter-content">
                                    <span class="counter-no">
                                       <span class="counter">250</span>K+
                                    </span>
                                    <span class="counter-text">
                                       Satisfied Clients
                                    </span>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <img alt="" src="static/assets/images/icon3.png">
                                </div>
                                <div class="counter-content">
                                    <span class="counter-no">
                                       <span class="counter">15</span>K+
                                    </span>
                                    <span class="counter-text">
                                       Satisfied Clients
                                    </span>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <img alt="" src="static/assets/images/icon4.png">
                                </div>
                                <div class="counter-content">
                                    <span class="counter-no">
                                       <span class="counter">10</span>K+
                                    </span>
                                    <span class="counter-text">
                                       Satisfied Clients
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="support-area">
                            <div class="support-icon">
                                <img alt="" src="static/assets/images/icon5.png">
                            </div>
                            <div class="support-content">
                                <h4>Our 24/7 Emergency Phone Services</h4>
                                <h3>
                                    <a href="#">Call: 123-456-7890</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- callback html end -->
    <!-- Home activity section html start -->
    <section class="activity-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5 class="dash-style">TRAVEL BY ACTIVITY</h5>
                        <h2>ADVENTURE & ACTIVITY</h2>
                        <p>Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit,
                            blandit torquent, odit placeat. Adipiscing repudiandae eius cursus? Nostrum magnis maxime
                            curae placeat.</p>
                    </div>
                </div>
            </div>
            <div class="activity-inner row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon6.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Adventure</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon10.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Trekking</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon9.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Camp Fire</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon8.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Off Road</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon7.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Camping</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img alt="" src="static/assets/images/icon11.png">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Exploring</a>
                            </h4>
                            <p>1 Destination</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- activity html end -->

    <!-- Home special section html start -->
    <section class="best-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h5 class="dash-style">OUR TOUR GALLERY</h5>
                        <h2>BEST TRAVELER'S SHARED PHOTOS</h2>
                        <p>Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea ipsum ad
                            arcu. Nostrud. Esse? Aut nostrum, ornare quas provident laoreet nesciunt odio voluptates
                            etiam, omnis.</p>
                    </div>
                    <figure class="gallery-img">
                        <img alt="" src="{% static 'assets/images/img12.jpg' %}">
                    </figure>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <figure class="gallery-img">
                                <img alt="" src="static/assets/images/img13.jpg">
                            </figure>
                        </div>
                        <div class="col-sm-6">
                            <figure class="gallery-img">
                                <img alt="" src="static/assets/images/img14.jpg">
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <figure class="gallery-img">
                                <img alt="" src="static/assets/images/img15.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best html end -->
    <!-- Home client section html start -->
    <div class="client-section">
        <div class="container">
            <div class="client-wrap client-slider secondary-bg">
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo1.png">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo2.png">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo3.png">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo4.png">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo5.png">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img alt="" src="static/assets/images/logo2.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- client html end -->
    <!-- Home subscribe section html start -->
    <section class="subscribe-section" style="background-image: url(static/assets/images/img16.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-heading section-heading-white">
                        <h5 class="dash-style">HOLIDAY PACKAGE OFFER</h5>
                        <h2>HOLIDAY SPECIAL 25% OFF !</h2>
                        <h4>Sign up now to recieve hot special offers and information about the best tour packages,
                            updates and discounts !!</h4>
                        <div class="newsletter-form">
                            <form>
                                <input name="s" placeholder="Your Email Address" type="email">
                                <input name="signup" type="submit" value="SIGN UP NOW!">
                            </form>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo. Eaque adipiscing, luctus eleifend temporibus
                            occaecat luctus eleifend tempo ribus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe html end -->
    <!-- Home blog section html start -->

    <!-- blog html end -->
    <!-- Home testimonial section html start -->
    <div class="testimonial-section" style="background-image: url(static/assets/images/img23.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonial-inner testimonial-slider">
                        <div class="testimonial-item text-center">
                            <figure class="testimonial-img">
                                <img alt="" src="{% static 'assets/images/img20.jpg' %}">
                            </figure>
                            <div class="testimonial-content">
                                <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce,
                                    atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt
                                    aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum
                                    acpri! "</p>
                                <cite>
                                    Johny English
                                    <span class="company">Travel Agent</span>
                                </cite>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">
                            <figure class="testimonial-img">
                                <img alt="" src="{% static 'assets/images/img21.jpg' %}">
                            </figure>
                            <div class="testimonial-content">
                                <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce,
                                    atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt
                                    aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum
                                    acpri! "</p>
                                <cite>
                                    William Housten
                                    <span class="company">Travel Agent</span>
                                </cite>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">
                            <figure class="testimonial-img">
                                <img alt="" src="{% static 'assets/images/img22.jpg' %}">
                            </figure>
                            <div class="testimonial-content">
                                <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce,
                                    atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt
                                    aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum
                                    acpri! "</p>
                                <cite>
                                    Alison Wright
                                    <span class="company">Travel Guide</span>
                                </cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial html end -->
    <!-- Home contact details section html start -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-img" style="background-image: url(static/assets/images/img24.jpg);">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact-details-wrap">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img alt="" src="static/assets/images/icon12.png">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">support@gmail.com</a>
                                        </li>
                                        <li>
                                            <a href="#">info@domain.com</a>
                                        </li>
                                        <li>
                                            <a href="#">name@company.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img alt="" src="static/assets/images/icon13.png">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">+132 (599) 254 669</a>
                                        </li>
                                        <li>
                                            <a href="#">+123 (669) 255 587</a>
                                        </li>
                                        <li>
                                            <a href="#">+01 (977) 2599 12</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img alt="" src="static/assets/images/icon14.png">
                                    </div>
                                    <ul>
                                        <li>
                                            3146 Koontz, California
                                        </li>
                                        <li>
                                            Quze.24 Second floor
                                        </li>
                                        <li>
                                            36 Street, Melbourne
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-btn-wrap">
                        <h3>LET'S JOIN US FOR MORE UPDATE !!</h3>
                        <a class="button-primary" href="contact">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  contact details html end -->
</main>
{% endblock %}